# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# Keep lock file (recommended)
!.terraform.lock.hcl

# Variables
*.tfvars
*.tfvars.json

# Environment
.env

# Terraform plan
*.tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc